*{
    margin: 0px;
    border: 0px;
}

body{
    font-family: sans-serif;
}


.nav{
    height: 100px;
    width: 100%;
    background-color: white;
    color: #0e3591;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
 
}

.nav img{
    height: 100px;
    height: 100px;
    margin-top: 10px;
    margin: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

li:hover{
    color:#5472d2;
    text-align: center;
   border-bottom: #03037a 2px solid;
}

/* end of nav */

.empty{
    height: 100px;
    background-color: #0e3591;
    position: relative;

}

.image{
    height: 110px;
    width: 550px;
    background-color: bisque;
    margin-top: 50px;
}

.image img{
    height: 110px;
    width: 550px;
}

.main{
  
    
    background-image: url(images/lp12.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
   margin-top: 30px;
   width: 100%;
   height: 600px;
   
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
    background-color: white;
    margin-top: 6%;
}

p{
    margin: 20px;
    padding: 10px;
    text-align: center;
    color:#696a6d;
}
h1{
    margin: 20px;
    color: #03037a;
    font-weight: bold;
}

button{
    width: 200px;
    height: 45px;
    color: white;
    background-color: #0e3591;
    border: none;
}

button:hover{
    background-color:  #5472d2;
}

footer{
    
        background-color: black;
        position: relative;
        height: 100px;
        clear: both ;}


footer p{
    color: white;
    font-size: larger;
}

body{
    height: 100%;
}


@media only screen and (max-width: 480px) {

    body {
      /* background-color: #0e3591; */
      width: 100%;

    }

    

    .nav{
      width: 100%;
      background-color: #0e3591;
      color: aliceblue;

    }

    .nav img{
        height: 90px;

    }
  

  .nav ul{
    margin: none;
   margin-right: 20px;
   width: 100%;

  }

  .nav li{
    margin: 5px;
    font-size: x-large;
  }

 #none{
  color: white;
  display: none;
    
  }




    .main{ width: 100%;
        margin-top: 20px;
    }

 .mid{
    width: 100%;

 }


    .main .mid .image{
       display: none;
    }
             
    button{
        width: 200px;
        height: 45px;
        color: white;
        background-color: #0e3591;
        border: none;

    }


p{
    font-size: large;
}


footer{
    display: flex;
    background-color: #03037a;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    }

  
}