*{
    margin: 0px;
    border: 0px;
}

body{
    font-family: sans-serif;
}
 
.container{
    position: relative;
  min-height: 100vh;
}

.nav{
    height: 100px;
    width: 100%;
    background-color: white;
    color: #0e3591;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
 
}

.nav img{
    height: 100px;
    height: 100px;
    margin-top: 10px;
    margin: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

li:hover{
    color:#5472d2;
    text-align: center;
   border-bottom: #03037a 2px solid;
}

/* end of nav */

.empty{
    height: 100px;
    background-color: #0e3591;
    position: relative;

}

.image{
    height: 110px;
    width: 550px;
    background-color: bisque;
    margin-top: 50px;
}

.image img{
    height: 110px;
    width: 550px;
}

.main{
  
    
    background-image: url(images/lp12.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
   margin-top: 30px;
   width: 100%;
   height: 600px;
   
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
    background-color: white;
    margin-top: 6%;
}

p{
    margin: 20px;
    padding: 10px;
    text-align: center;
    color:#696a6d;
}
h1{
    margin: 20px;
    color: #03037a;
    font-weight: bold;
}

button{
    width: 200px;
    height: 45px;
    color: white;
    background-color: #0e3591;
    border: none;
}

button:hover{
    background-color:  #5472d2;
}

footer{
    
        background-color: black;
        clear: both ;
        position: absolute;
  bottom: 0;
  width: 100%;
  
    
    
    }


footer p{
    color: white;
    font-size: larger;

}

body{
    background: #03037a;
   
}


@media only screen and (max-width: 480px) {

    body {
     
      width: 100%;
      background: none;
     

    }


    .nav{
      width: 100%;
     height: 80px;
      color: #0e3591;
      border-bottom: #5472d2 solid 2px;
      border-top: #5472d2 solid 1px;

    }

    .nav img{
        height: 70px;

    }
  
.main{
   height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28%;
    background-image: none ;
   
}



  .nav ul{
    margin: none;
   margin-right: 20px;
   width: 100%;

  }

  .nav li{
    margin: 5px;
    font-size: x-large;
  }

  li:hover{
    color:black;
    text-align: center;
   border-bottom: #03037a 2px solid;
}

 #none{
  color: white;
  display: none;
    
  }



 .mid{
    width: 100%;
    margin-top: 0%;

 }


    .main .mid .image{
       display: none;
    }

    .mid p{
        margin-top: 10%;
        font-size: 12px;
    }
             
    button{ 
        color: white;
        font-size: 14px;
        font-weight: bolder;
        background-color: #03037a;
        margin-top: 10%;
        border: solid 0px;
        width: fit-content;
       


    }

    button:hover{
        background-color:  rgba(8, 7, 7, 0.192);
        color: #03037a;
    }
    

p{
    font-size: larger;
    font-weight: bold;
}

h1{
    font-size:large;
    margin-top: -5%;
}


footer{
    display: flex;
    background-color: #0e3591;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: -50px;
    }

  
}